:root {
  // light
  --light-100: #f9f7f2;
  --light-200: #ececec;
  --light-300: #ebe9e4;
  --light-400: #f1ebdb;
  --light: #ffffff;

  // warning
  --warning-100: #f5c723;

  // info
  --info-100: #ff4641;
  --info-200: #fc4f1e;

  // dark
  --dark-100: #9d9d9d;
  --dark-200: #a0a0a0;
  --dark-300: #212121;
  --dark: #000000;
}
