.message,
.userMessage {
  display: flex;
  flex-flow: row nowrap;
  gap: 19px;
  padding: 14px 12px;
}

.userMessage {
  background-color: var(--light-100);
}

.userPhoto {
  min-width: 48px;
  max-width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}

.textAndTime {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.messageText {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  word-break: break-word;
  white-space: normal;
}

.time {
  color: var(--dark-100);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-m);
}
